In [1]:
library(data.table)
library(zoo)
library(forecast)
library(ggplot2)

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Loading required package: timeDate
This is forecast 7.1

In [2]:
test = fread("test.csv")
train = fread("train.csv")
store = fread("store.csv")

In [3]:
str(train)

Classes ‘data.table’ and 'data.frame':	1017209 obs. of  9 variables:
 $ Store        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ DayOfWeek    : int  5 5 5 5 5 5 5 5 5 5 ...
 $ Date         : chr  "2015-07-31" "2015-07-31" "2015-07-31" "2015-07-31" ...
 $ Sales        : int  5263 6064 8314 13995 4822 5651 15344 8492 8565 7185 ...
 $ Customers    : int  555 625 821 1498 559 589 1414 833 687 681 ...
 $ Open         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ Promo        : int  1 1 1 1 1 1 1 1 1 1 ...
 $ StateHoliday : chr  "0" "0" "0" "0" ...
 $ SchoolHoliday: chr  "1" "1" "1" "1" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [4]:
str(test)

Classes ‘data.table’ and 'data.frame':	41088 obs. of  8 variables:
 $ Id           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Store        : int  1 3 7 8 9 10 11 12 13 14 ...
 $ DayOfWeek    : int  4 4 4 4 4 4 4 4 4 4 ...
 $ Date         : chr  "2015-09-17" "2015-09-17" "2015-09-17" "2015-09-17" ...
 $ Open         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ Promo        : int  1 1 1 1 1 1 1 1 1 1 ...
 $ StateHoliday : chr  "0" "0" "0" "0" ...
 $ SchoolHoliday: chr  "0" "0" "0" "0" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [5]:
str(store)

Classes ‘data.table’ and 'data.frame':	1115 obs. of  10 variables:
 $ Store                    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ StoreType                : chr  "c" "a" "a" "c" ...
 $ Assortment               : chr  "a" "a" "a" "c" ...
 $ CompetitionDistance      : int  1270 570 14130 620 29910 310 24000 7520 2030 3160 ...
 $ CompetitionOpenSinceMonth: int  9 11 12 9 4 12 4 10 8 9 ...
 $ CompetitionOpenSinceYear : int  2008 2007 2006 2009 2015 2013 2013 2014 2000 2009 ...
 $ Promo2                   : int  0 1 1 0 0 0 0 0 0 0 ...
 $ Promo2SinceWeek          : int  NA 13 14 NA NA NA NA NA NA NA ...
 $ Promo2SinceYear          : int  NA 2010 2011 NA NA NA NA NA NA NA ...
 $ PromoInterval            : chr  "" "Jan,Apr,Jul,Oct" "Jan,Apr,Jul,Oct" "" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [6]:
train[, Date := as.Date(Date)]
test[, Date := as.Date(Date)]
store

        Store DayOfWeek Date       Sales Customers Open Promo StateHoliday
1        1    5         2015-07-31  5263  555      1    1     0
2        2    5         2015-07-31  6064  625      1    1     0
3        3    5         2015-07-31  8314  821      1    1     0
4        4    5         2015-07-31 13995 1498      1    1     0
5        5    5         2015-07-31  4822  559      1    1     0
6        6    5         2015-07-31  5651  589      1    1     0
7        7    5         2015-07-31 15344 1414      1    1     0
8        8    5         2015-07-31  8492  833      1    1     0
9        9    5         2015-07-31  8565  687      1    1     0
10      10    5         2015-07-31  7185  681      1    1     0
11      11    5         2015-07-31 10457 1236      1    1     0
12      12    5         2015-07-31  8959  962      1    1     0
13      13    5         2015-07-31  8821  568      1    1     0
14      14    5         2015-07-31  6544  710      1    1     0
15      15    5         2015-07-31  9191  766      1    1     0
16      16    5         2015-07-31 10231  979      1    1     0
17      17    5         2015-07-31  8430  946      1    1     0
18      18    5         2015-07-31 10071  936      1    1     0
19      19    5         2015-07-31  8234  718      1    1     0
20      20    5         2015-07-31  9593  974      1    1     0
21      21    5         2015-07-31  9515  682      1    1     0
22      22    5         2015-07-31  6566  633      1    1     0
23      23    5         2015-07-31  7273  560      1    1     0
24      24    5         2015-07-31 14190 1082      1    1     0
25      25    5         2015-07-31 14180 1586      1    1     0
26      26    5         2015-07-31  7818  611      1    1     0
27      27    5         2015-07-31 13213 1263      1    1     0
28      28    5         2015-07-31  7301  663      1    1     0
29      29    5         2015-07-31  9411  737      1    1     0
30      30    5         2015-07-31  4776  625      1    1     0
⋮       ⋮     ⋮         ⋮          ⋮     ⋮         ⋮    ⋮     ⋮
1017180 1086  2         2013-01-01    0     0      0    0     a
1017181 1087  2         2013-01-01    0     0      0    0     a
1017182 1088  2         2013-01-01    0     0      0    0     a
1017183 1089  2         2013-01-01    0     0      0    0     a
1017184 1090  2         2013-01-01    0     0      0    0     a
1017185 1091  2         2013-01-01    0     0      0    0     a
1017186 1092  2         2013-01-01    0     0      0    0     a
1017187 1093  2         2013-01-01    0     0      0    0     a
1017188 1094  2         2013-01-01    0     0      0    0     a
1017189 1095  2         2013-01-01    0     0      0    0     a
1017190 1096  2         2013-01-01    0     0      0    0     a
1017191 1097  2         2013-01-01 5961  1405      1    0     a
1017192 1098  2         2013-01-01    0     0      0    0     a
1017193 1099  2         2013-01-01    0     0      0    0     a
1017194 1100  2         2013-01-01    0     0      0    0     a
1017195 1101  2         2013-01-01    0     0      0    0     a
1017196 1102  2         2013-01-01    0     0      0    0     a
1017197 1103  2         2013-01-01    0     0      0    0     a
1017198 1104  2         2013-01-01    0     0      0    0     a
1017199 1105  2         2013-01-01    0     0      0    0     a
1017200 1106  2         2013-01-01    0     0      0    0     a
1017201 1107  2         2013-01-01    0     0      0    0     a
1017202 1108  2         2013-01-01    0     0      0    0     a
1017203 1109  2         2013-01-01    0     0      0    0     a
1017204 1110  2         2013-01-01    0     0      0    0     a
1017205 1111  2         2013-01-01    0     0      0    0     a
1017206 1112  2         2013-01-01    0     0      0    0     a
1017207 1113  2         2013-01-01    0     0      0    0     a
1017208 1114  2         2013-01-01    0     0      0    0     a
1017209 1115  2         2013-01-01    0     0      0    0     a
        SchoolHoliday
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      0
14      1
15      1
16      1
17      1
18      1
19      1
20      0
21      1
22      0
23      1
24      1
25      1
26      1
27      1
28      1
29      1
30      1
⋮       ⋮
1017180 1
1017181 1
1017182 1
1017183 1
1017184 1
1017185 1
1017186 1
1017187 1
1017188 1
1017189 1
1017190 1
1017191 1
1017192 1
1017193 1
1017194 1
1017195 1
1017196 1
1017197 1
1017198 1
1017199 1
1017200 1
1017201 1
1017202 1
1017203 1
1017204 1
1017205 1
1017206 1
1017207 1
1017208 1
1017209 1

      Id    Store DayOfWeek Date       Open Promo StateHoliday SchoolHoliday
1      1     1    4         2015-09-17 1    1     0            0
2      2     3    4         2015-09-17 1    1     0            0
3      3     7    4         2015-09-17 1    1     0            0
4      4     8    4         2015-09-17 1    1     0            0
5      5     9    4         2015-09-17 1    1     0            0
6      6    10    4         2015-09-17 1    1     0            0
7      7    11    4         2015-09-17 1    1     0            0
8      8    12    4         2015-09-17 1    1     0            0
9      9    13    4         2015-09-17 1    1     0            0
10    10    14    4         2015-09-17 1    1     0            0
11    11    15    4         2015-09-17 1    1     0            0
12    12    16    4         2015-09-17 1    1     0            0
13    13    19    4         2015-09-17 1    1     0            0
14    14    20    4         2015-09-17 1    1     0            0
15    15    21    4         2015-09-17 1    1     0            0
16    16    22    4         2015-09-17 1    1     0            0
17    17    23    4         2015-09-17 1    1     0            0
18    18    24    4         2015-09-17 1    1     0            0
19    19    25    4         2015-09-17 1    1     0            0
20    20    27    4         2015-09-17 1    1     0            0
21    21    29    4         2015-09-17 1    1     0            0
22    22    30    4         2015-09-17 1    1     0            0
23    23    31    4         2015-09-17 1    1     0            0
24    24    32    4         2015-09-17 1    1     0            0
25    25    33    4         2015-09-17 1    1     0            0
26    26    35    4         2015-09-17 1    1     0            0
27    27    36    4         2015-09-17 1    1     0            0
28    28    38    4         2015-09-17 1    1     0            0
29    29    39    4         2015-09-17 1    1     0            0
30    30    40    4         2015-09-17 1    1     0            0
⋮     ⋮     ⋮     ⋮         ⋮          ⋮    ⋮     ⋮            ⋮
41059 41059 1077  6         2015-08-01 1    0     0            0
41060 41060 1078  6         2015-08-01 1    0     0            0
41061 41061 1079  6         2015-08-01 1    0     0            1
41062 41062 1080  6         2015-08-01 1    0     0            0
41063 41063 1083  6         2015-08-01 1    0     0            1
41064 41064 1084  6         2015-08-01 1    0     0            1
41065 41065 1086  6         2015-08-01 1    0     0            1
41066 41066 1087  6         2015-08-01 1    0     0            1
41067 41067 1088  6         2015-08-01 1    0     0            0
41068 41068 1089  6         2015-08-01 1    0     0            0
41069 41069 1091  6         2015-08-01 1    0     0            0
41070 41070 1092  6         2015-08-01 1    0     0            0
41071 41071 1094  6         2015-08-01 1    0     0            0
41072 41072 1096  6         2015-08-01 1    0     0            0
41073 41073 1097  6         2015-08-01 1    0     0            0
41074 41074 1099  6         2015-08-01 1    0     0            0
41075 41075 1100  6         2015-08-01 1    0     0            0
41076 41076 1101  6         2015-08-01 1    0     0            0
41077 41077 1102  6         2015-08-01 1    0     0            0
41078 41078 1103  6         2015-08-01 1    0     0            1
41079 41079 1104  6         2015-08-01 1    0     0            0
41080 41080 1105  6         2015-08-01 1    0     0            0
41081 41081 1106  6         2015-08-01 1    0     0            0
41082 41082 1107  6         2015-08-01 1    0     0            0
41083 41083 1109  6         2015-08-01 1    0     0            0
41084 41084 1111  6         2015-08-01 1    0     0            0
41085 41085 1112  6         2015-08-01 1    0     0            0
41086 41086 1113  6         2015-08-01 1    0     0            0
41087 41087 1114  6         2015-08-01 1    0     0            0
41088 41088 1115  6         2015-08-01 1    0     0            1

     Store StoreType Assortment CompetitionDistance CompetitionOpenSinceMonth
1     1    c         a           1270                9
2     2    a         a            570               11
3     3    a         a          14130               12
4     4    c         c            620                9
5     5    a         a          29910                4
6     6    a         a            310               12
7     7    a         c          24000                4
8     8    a         a           7520               10
9     9    a         c           2030                8
10   10    a         a           3160                9
11   11    a         c            960               11
12   12    a         c           1070               NA
13   13    d         a            310               NA
14   14    a         a           1300                3
15   15    d         c           4110                3
16   16    a         c           3270               NA
17   17    a         a             50               12
18   18    d         c          13840                6
19   19    a         c           3240               NA
20   20    d         a           2340                5
21   21    c         c            550               10
22   22    a         a           1040               NA
23   23    d         a           4060                8
24   24    a         c           4590                3
25   25    c         a            430                4
26   26    d         a           2300               NA
27   27    a         a             60                1
28   28    a         a           1200               10
29   29    d         c           2170               NA
30   30    a         a             40                2
⋮    ⋮     ⋮         ⋮          ⋮                   ⋮
1086 1086  a         a            180               11
1087 1087  d         c           2210               11
1088 1088  a         a           4300                3
1089 1089  d         a           5220                5
1090 1090  a         a            330               NA
1091 1091  a         c           9990               NA
1092 1092  a         a            300                7
1093 1093  c         c          10450                6
1094 1094  d         a           2380                3
1095 1095  a         a            690                6
1096 1096  a         c           1130               NA
1097 1097  b         b            720                3
1098 1098  a         a           1830               11
1099 1099  a         c            200                4
1100 1100  a         a            540               NA
1101 1101  d         c           4060                9
1102 1102  a         a            850               11
1103 1103  d         c           1340               10
1104 1104  d         a            260                2
1105 1105  c         c            330               11
1106 1106  a         c           5330                9
1107 1107  a         a           1400                6
1108 1108  a         a            540                4
1109 1109  c         a           3490                4
1110 1110  c         c            900                9
1111 1111  a         a           1900                6
1112 1112  c         c           1880                4
1113 1113  a         c           9260               NA
1114 1114  a         c            870               NA
1115 1115  d         c           5350               NA
     CompetitionOpenSinceYear Promo2 Promo2SinceWeek Promo2SinceYear
1    2008                     0      NA                NA
2    2007                     1      13              2010
3    2006                     1      14              2011
4    2009                     0      NA                NA
5    2015                     0      NA                NA
6    2013                     0      NA                NA
7    2013                     0      NA                NA
8    2014                     0      NA                NA
9    2000                     0      NA                NA
10   2009                     0      NA                NA
11   2011                     1       1              2012
12     NA                     1      13              2010
13     NA                     1      45              2009
14   2014                     1      40              2011
15   2010                     1      14              2011
16     NA                     0      NA                NA
17   2005                     1      26              2010
18   2010                     1      14              2012
19     NA                     1      22              2011
20   2009                     1      40              2014
21   1999                     1      45              2009
22     NA                     1      22              2012
23   2005                     0      NA                NA
24   2000                     1      40              2011
25   2003                     0      NA                NA
26     NA                     0      NA                NA
27   2005                     1       5              2011
28   2014                     1       6              2015
29     NA                     0      NA                NA
30   2014                     1      10              2014
⋮    ⋮                        ⋮      ⋮               ⋮
1086 2013                     1      18              2011
1087 2011                     0      NA                NA
1088 2009                     1      27              2013
1089 2009                     0      NA                NA
1090   NA                     1      14              2011
1091   NA                     0      NA                NA
1092 2000                     1      40              2014
1093 2009                     0      NA                NA
1094 2013                     1      40              2014
1095 2007                     1      14              2011
1096   NA                     1      10              2014
1097 2002                     0      NA                NA
1098 2004                     0      NA                NA
1099 2013                     1      14              2013
1100   NA                     1      14              2011
1101 2012                     0      NA                NA
1102 2012                     1      40              2014
1103 2006                     1       5              2013
1104 2012                     1      14              2011
1105 2008                     1       5              2013
1106 2011                     1      31              2013
1107 2012                     1      13              2010
1108 2004                     0      NA                NA
1109 2011                     1      22              2012
1110 2010                     0      NA                NA
1111 2014                     1      31              2013
1112 2006                     0      NA                NA
1113   NA                     0      NA                NA
1114   NA                     0      NA                NA
1115   NA                     1      22              2012
     PromoInterval
1
2    Jan,Apr,Jul,Oct
3    Jan,Apr,Jul,Oct
4
5
6
7
8
9
10
11   Jan,Apr,Jul,Oct
12   Jan,Apr,Jul,Oct
13   Feb,May,Aug,Nov
14   Jan,Apr,Jul,Oct
15   Jan,Apr,Jul,Oct
16
17   Jan,Apr,Jul,Oct
18   Jan,Apr,Jul,Oct
19   Mar,Jun,Sept,Dec
20   Jan,Apr,Jul,Oct
21   Jan,Apr,Jul,Oct
22   Jan,Apr,Jul,Oct
23
24   Jan,Apr,Jul,Oct
25
26
27   Jan,Apr,Jul,Oct
28   Mar,Jun,Sept,Dec
29
30   Mar,Jun,Sept,Dec
⋮    ⋮
1086 Feb,May,Aug,Nov
1087
1088 Jan,Apr,Jul,Oct
1089
1090 Jan,Apr,Jul,Oct
1091
1092 Jan,Apr,Jul,Oct
1093
1094 Jan,Apr,Jul,Oct
1095 Jan,Apr,Jul,Oct
1096 Mar,Jun,Sept,Dec
1097
1098
1099 Jan,Apr,Jul,Oct
1100 Jan,Apr,Jul,Oct
1101
1102 Jan,Apr,Jul,Oct
1103 Feb,May,Aug,Nov
1104 Jan,Apr,Jul,Oct
1105 Feb,May,Aug,Nov
1106 Jan,Apr,Jul,Oct
1107 Jan,Apr,Jul,Oct
1108
1109 Jan,Apr,Jul,Oct
1110
1111 Jan,Apr,Jul,Oct
1112
1113
1114
1115 Mar,Jun,Sept,Dec

In [7]:
train <- train[order(Date)]
test <- test[order(Date)]
summary(train)

     Store          DayOfWeek          Date                Sales
 Min.   :   1.0   Min.   :1.000   Min.   :2013-01-01   Min.   :    0
 1st Qu.: 280.0   1st Qu.:2.000   1st Qu.:2013-08-17   1st Qu.: 3727
 Median : 558.0   Median :4.000   Median :2014-04-02   Median : 5744
 Mean   : 558.4   Mean   :3.998   Mean   :2014-04-11   Mean   : 5774
 3rd Qu.: 838.0   3rd Qu.:6.000   3rd Qu.:2014-12-12   3rd Qu.: 7856
 Max.   :1115.0   Max.   :7.000   Max.   :2015-07-31   Max.   :41551
   Customers           Open            Promo        StateHoliday
 Min.   :   0.0   Min.   :0.0000   Min.   :0.0000   Length:1017209
 1st Qu.: 405.0   1st Qu.:1.0000   1st Qu.:0.0000   Class :character
 Median : 609.0   Median :1.0000   Median :0.0000   Mode  :character
 Mean   : 633.1   Mean   :0.8301   Mean   :0.3815
 3rd Qu.: 837.0   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :7388.0   Max.   :1.0000   Max.   :1.0000
 SchoolHoliday
 Length:1017209
 Class :character
 Mode  :character

In [8]:
str(store)

Classes ‘data.table’ and 'data.frame':	1115 obs. of  10 variables:
 $ Store                    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ StoreType                : chr  "c" "a" "a" "c" ...
 $ Assortment               : chr  "a" "a" "a" "c" ...
 $ CompetitionDistance      : int  1270 570 14130 620 29910 310 24000 7520 2030 3160 ...
 $ CompetitionOpenSinceMonth: int  9 11 12 9 4 12 4 10 8 9 ...
 $ CompetitionOpenSinceYear : int  2008 2007 2006 2009 2015 2013 2013 2014 2000 2009 ...
 $ Promo2                   : int  0 1 1 0 0 0 0 0 0 0 ...
 $ Promo2SinceWeek          : int  NA 13 14 NA NA NA NA NA NA NA ...
 $ Promo2SinceYear          : int  NA 2010 2011 NA NA NA NA NA NA NA ...
 $ PromoInterval            : chr  "" "Jan,Apr,Jul,Oct" "Jan,Apr,Jul,Oct" "" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [9]:
total = merge(train, store, by='Store')

In [10]:
str(total)

Classes ‘data.table’ and 'data.frame':	1017209 obs. of  18 variables:
 $ Store                    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ DayOfWeek                : int  2 3 4 5 6 7 1 2 3 4 ...
 $ Date                     : Date, format: "2013-01-01" "2013-01-02" ...
 $ Sales                    : int  0 5530 4327 4486 4997 0 7176 5580 5471 4892 ...
 $ Customers                : int  0 668 578 619 635 0 785 654 626 615 ...
 $ Open                     : int  0 1 1 1 1 0 1 1 1 1 ...
 $ Promo                    : int  0 0 0 0 0 0 1 1 1 1 ...
 $ StateHoliday             : chr  "a" "0" "0" "0" ...
 $ SchoolHoliday            : chr  "1" "1" "1" "1" ...
 $ StoreType                : chr  "c" "c" "c" "c" ...
 $ Assortment               : chr  "a" "a" "a" "a" ...
 $ CompetitionDistance      : int  1270 1270 1270 1270 1270 1270 1270 1270 1270 1270 ...
 $ CompetitionOpenSinceMonth: int  9 9 9 9 9 9 9 9 9 9 ...
 $ CompetitionOpenSinceYear : int  2008 2008 2008 2008 2008 2008 2008 2008 2008 2008 ...
 $ Promo2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Promo2SinceWeek          : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Promo2SinceYear          : int  NA NA NA NA NA NA NA NA NA NA ...
 $ PromoInterval            : chr  "" "" "" "" ...
 - attr(*, ".internal.selfref")=<externalptr>
 - attr(*, "sorted")= chr "Store"

In [14]:
promoSales = glm(Promo~Sales, data=total[total$Sales < 3727])

In [15]:
summary(promoSales)

Call:
glm(formula = Promo ~ Sales, data = total[total$Sales < 3727])

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-0.10517  -0.08886  -0.06233  -0.06233   0.93767

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 6.233e-02  6.206e-04  100.43   <2e-16 ***
Sales       1.150e-05  3.584e-07   32.08   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for gaussian family taken to be 0.06772652)

    Null deviance: 17287  on 254218  degrees of freedom
Residual deviance: 17217  on 254217  degrees of freedom
AIC: 37018

Number of Fisher Scoring iterations: 2

In [13]:
summary(total)

     Store          DayOfWeek          Date                Sales
 Min.   :   1.0   Min.   :1.000   Min.   :2013-01-01   Min.   :    0
 1st Qu.: 280.0   1st Qu.:2.000   1st Qu.:2013-08-17   1st Qu.: 3727
 Median : 558.0   Median :4.000   Median :2014-04-02   Median : 5744
 Mean   : 558.4   Mean   :3.998   Mean   :2014-04-11   Mean   : 5774
 3rd Qu.: 838.0   3rd Qu.:6.000   3rd Qu.:2014-12-12   3rd Qu.: 7856
 Max.   :1115.0   Max.   :7.000   Max.   :2015-07-31   Max.   :41551

   Customers           Open            Promo        StateHoliday
 Min.   :   0.0   Min.   :0.0000   Min.   :0.0000   Length:1017209
 1st Qu.: 405.0   1st Qu.:1.0000   1st Qu.:0.0000   Class :character
 Median : 609.0   Median :1.0000   Median :0.0000   Mode  :character
 Mean   : 633.1   Mean   :0.8301   Mean   :0.3815
 3rd Qu.: 837.0   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :7388.0   Max.   :1.0000   Max.   :1.0000

 SchoolHoliday       StoreType          Assortment        CompetitionDistance
 Length:1017209     Length:1017209     Length:1017209     Min.   :   20
 Class :character   Class :character   Class :character   1st Qu.:  710
 Mode  :character   Mode  :character   Mode  :character   Median : 2330
                                                          Mean   : 5430
                                                          3rd Qu.: 6890
                                                          Max.   :75860
                                                          NA's   :2642
 CompetitionOpenSinceMonth CompetitionOpenSinceYear     Promo2
 Min.   : 1.0              Min.   :1900             Min.   :0.0000
 1st Qu.: 4.0              1st Qu.:2006             1st Qu.:0.0000
 Median : 8.0              Median :2010             Median :1.0000
 Mean   : 7.2              Mean   :2009             Mean   :0.5006
 3rd Qu.:10.0              3rd Qu.:2013             3rd Qu.:1.0000
 Max.   :12.0              Max.   :2015             Max.   :1.0000
 NA's   :323348            NA's   :323348
 Promo2SinceWeek  Promo2SinceYear  PromoInterval
 Min.   : 1.0     Min.   :2009     Length:1017209
 1st Qu.:13.0     1st Qu.:2011     Class :character
 Median :22.0     Median :2012     Mode  :character
 Mean   :23.3     Mean   :2012
 3rd Qu.:37.0     3rd Qu.:2013
 Max.   :50.0     Max.   :2015
 NA's   :508031   NA's   :508031