In [1]:
import numpy as np
import pandas as pd

In [37]:
# Uploading the datasets
train = pd.read_csv("train.csv")
store = pd.read_csv("store.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
# Converting Date into datetime
train['Date'] = pd.to_datetime(train['Date'])

In [39]:
# Extracting Month and Year attribute
train['Month'] = train['Date'].apply(lambda x: x.month)
train['Year'] = train['Date'].apply(lambda x: x.year)

In [40]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Month,Year
0,1,5,2015-07-31,5263,555,1,1,0,1,7,2015
1,2,5,2015-07-31,6064,625,1,1,0,1,7,2015
2,3,5,2015-07-31,8314,821,1,1,0,1,7,2015
3,4,5,2015-07-31,13995,1498,1,1,0,1,7,2015
4,5,5,2015-07-31,4822,559,1,1,0,1,7,2015

In [41]:
first = [1,2,3]
second = [4,5,6]
third = [7,8,9]
fourth = [10,11,12]

def findQuarter(c):
    month = c.Month
    if month in first:
        return 1
    elif month in second:
        return 2
    elif month in third:
        return 3
    else:
        return 4

In [42]:
train['Quarter'] = train.apply(lambda x: findQuarter(x), axis=1)

In [43]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Month,Year,Quarter
0,1,5,2015-07-31,5263,555,1,1,0,1,7,2015,3
1,2,5,2015-07-31,6064,625,1,1,0,1,7,2015,3
2,3,5,2015-07-31,8314,821,1,1,0,1,7,2015,3
3,4,5,2015-07-31,13995,1498,1,1,0,1,7,2015,3
4,5,5,2015-07-31,4822,559,1,1,0,1,7,2015,3

In [44]:
# List all the unique values of month, year and store
storeList = train.Store.unique()
quarterList = [1,2,3,4]
yearList = train.Year.unique()
columns=['Store', 'Year', 'Promo', 'Sales', 'Quarter', 'Customers', 'Open']

In [45]:
final = pd.DataFrame(columns=columns)

In [46]:
for store in storeList:
    for quarter in quarterList:
        for year in yearList:
            subset = train.loc[lambda df: np.logical_and(np.logical_and(df.Store == store, df.Quarter == quarter), df.Year == year)]
            data = {'Store': store,
                    'Quarter': quarter,
                    'Year': year,
                    'Promo': subset.Promo.sum(),
                    'Sales': subset.Sales.sum(),
                    'Customers': subset.Customers.sum(),
                    'Open': subset.Open.sum()
                   }
            final = final.append(data, ignore_index=True)

In [47]:
final.head()

   Store    Year  Promo     Sales  Quarter  Customers  Open
0    1.0  2015.0   37.0  345154.0      1.0    41502.0  76.0
1    1.0  2014.0   31.0  345715.0      1.0    42177.0  76.0
2    1.0  2013.0   35.0  398871.0      1.0    48662.0  75.0
3    1.0  2015.0   35.0  325886.0      2.0    37429.0  72.0
4    1.0  2014.0   35.0  340912.0      2.0    40043.0  72.0

In [48]:
for col in columns:
    final[col] = final[col].astype(int)

In [54]:
final.head()

   Store  Year  Promo   Sales  Quarter  Customers  Open  PromoFrequencyRatio
0      1  2015     37  345154        1      41502    76             0.486842
1      1  2014     31  345715        1      42177    76             0.407895
2      1  2013     35  398871        1      48662    75             0.466667
3      1  2015     35  325886        2      37429    72             0.486111
4      1  2014     35  340912        2      40043    72             0.486111

In [50]:
final['PromoFrequencyRatio'] = final['Promo']/final['Open']

In [51]:
yearQuarter ={
    '2013': {
        '1': 1,
        '2': 2,
        '3': 3,
        '4': 4
    },
    '2014': {
        '1': 5,
        '2': 6,
        '3': 7,
        '4': 8
    },
    '2015': {
        '1': 9,
        '2': 10,
        '3': 11,
        '4': 12
    }
}

In [61]:
def combineQandY(c):
    year = int(c.Year)
    quart = int(c.Quarter)
    return yearQuarter[str(year)][str(quart)]

In [62]:
final['YearQuarter'] = final.apply(lambda x: combineQandY(x), axis=1)

In [64]:
final.head()

,Store,Year,Promo,Sales,Quarter,Customers,Open,PromoFrequencyRatio,YearQuarter
0,1,2015,37,345154,1,41502,76,0.486842,9
1,1,2014,31,345715,1,42177,76,0.407895,5
2,1,2013,35,398871,1,48662,75,0.466667,1
3,1,2015,35,325886,2,37429,72,0.486111,10
4,1,2014,35,340912,2,40043,72,0.486111,6

In [65]:
final.to_csv('Datasets3-3-2.csv', index=False)

In [2]:
final = pd.read_csv('Datasets3-3-2.csv')

In [3]:
final.head()

,Store,Year,Promo,Sales,Quarter,Customers,Open,PromoFrequencyRatio,YearQuarter
0,1,2015,37,345154,1,41502,76,0.486842,9
1,1,2014,31,345715,1,42177,76,0.407895,5
2,1,2013,35,398871,1,48662,75,0.466667,1
3,1,2015,35,325886,2,37429,72,0.486111,10
4,1,2014,35,340912,2,40043,72,0.486111,6

In [4]:
def findSalesChangeFromPrevQuarter(row):
    storeId = row.Store
    quart = row.YearQuarter
    prevQuart = quart - 1
    if prevQuart == 0:
        return 0
    else:
        return row.Sales - final.loc[lambda x: np.logical_and(x.Store == storeId, x.YearQuarter == prevQuart)].Sales.sum()

In [6]:
findSalesChangeFromPrevQuarter(final.loc[0])

-61621.0

In [ ]:
final['prev1Quarter'] = final.apply(lambda x: findSalesChangeFromPrevQuarter(x), axis=1)

In [ ]:
final.head()

Instead of total sales, find the sales performance difference from the previous 2 different quarters and see whether it affects the current promotion frequency.